/* Highlight today's date in the calendar */
.today {
  background-color: #f7a62e;
  color: #222;
  font-weight: bold;
  border-radius: 50%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Times New Roman", Times,
    serif, Tahoma, Geneva, Verdana, sans-serif, "Arial Narrow", Arial,
    sans-serif, sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: rgb(233, 232, 228);
}

.logo {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.date-time {
  padding: 15px 20px;
  margin-bottom: 15px;
  background: radial-gradient(circle at 30% 30%, #f5f2e6, #b4ac8d);
  border-radius: 30% 40% 30% 50% / 40% 30% 50% 30%;
  box-shadow: 0 0 30px 5px rgba(245, 242, 230, 0.8);
  filter: blur(0.3px);
  backdrop-filter: blur(1px);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-time input[type="date"] {
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid rgb(190, 164, 92);
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #e6e6e6;
}

.weather {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.weather-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.separate {
  border: solid;
  border-width: 0.5px;
}

.main-content {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
}

.papillon-container {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  transition: transform 12s ease-in-out;
}

.papillon {
  width: 50px;
  height: 50px;
  animation: flapWings 0.6s infinite ease-in-out;
}

@keyframes flapWings {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1, 0.9) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.to-do {
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-do-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.to-do-list li {
  display: flex;
  align-items: left;
  gap: 10px;
  margin-bottom: 10px;
}

.to-do-list p {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 203, 130);
  margin-bottom: 10px;
}

.to-do-list input[type="text"] {
  border: none;
  padding: 5px;
  background: transparent;
  font-size: 16px;
  border-bottom: 2px solid #333;
  outline: none;
}

.to-do-list input[type="checkbox"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.schedule-table {
  border-collapse: collapse;
}

.schedule-table td {
  padding: 10px;
  border: 1.5px solid rgb(238, 219, 184);
}

.schedule-table input[type="text"] {
  border: none;
  background: transparent;
  padding: 5px;
  outline: none;
}

.schedule-title {
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(247, 223, 183);
}

.goals {
  background-color: rgb(240, 204, 191);
}

.goals-list p {
  display: flex;
  justify-content: center;
}

.goals-list li {
  list-style: none;
  padding: 5px;
}

.goals-list input[type="text"] {
  border: none;
  outline: none;
  background-color: rgb(240, 204, 191);
  padding-left: 10px;
}
.goals-list input[type="radio"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.note {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.note-title {
  text-align: center;
  font-weight: bold;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.note-area {
  width: 100%;
  height: 200px;
  resize: none;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
  line-height: 2;
  font-family: "Courier New", monospace;
  background: repeating-linear-gradient(
    to bottom,
    #fffaf0,
    #fffaf0 29px,
    #ccc 30px
  );
}
